<!-- Note that each template you add should include the partial templates -->
<!-- header and footer, if you don't need to add any new things to the head -->
<%- include('templates/header') %>
<div>
  <h1>Salve, Munde!</h1>
</div>
<%- include('templates/footer') %>
