html {
    overflow: hidden;
    height: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 1px;
  height: 100%;
  overflow: hidden;
  background-color:rgb(0, 37, 105);
}

h1 {
  font-weight:300;
  width:100%;
  margin:0.1em 0 0.2em 0;
  color:rgb(255, 206, 0);
  text-align:center;
}

#app-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#mobile-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin:0.2em 0.3em;
  height:23.5em;
}

#mobile-controls {
  display:flex;
  justify-content:center;
  flex-direction:column;
  flex-grow:2.5;
}

#scroll-bar {
  margin:0.2em 0;
  flex-grow:1;
  border-radius:1em;
  border:3px solid rgb(255, 206, 0);
}

#scroll-bar:hover {
  margin:0.2em 0;
  flex-grow:1;
  border-radius:1em;
  background-color:rgb(255, 206, 0);
  border:3px solid rgb(255, 206, 0);
}

#base {
  margin:0 auto;
  width:80%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items: center;
  text-align:center;
  color:rgb(255, 206, 0);
  height:40vh;
  background-repeat: no-repeat;
  background-color: red;
}

#iactoMobile {
  display:none;
  color:rgb(255, 206, 0);
  margin:0 auto;
  width:95%;
  justify-content:center;
  flex-direction:column;
  align-items: center;
  text-align:center;
  height:95vh !important;
}

.gestures {
  display:flex;
  justify-content:center;
  align-items: center;
  width:100%;
  flex-grow:1;
  font-size:1.4em;
  transition:height 0.25s;
  border:3px solid rgb(255, 206, 0);
}

.gestures:hover {
  background-color:rgb(255, 206, 0);
  color:rgb(0, 37, 105) !important;
  /*height:4em;*/
  flex-grow:2.5;
}

#umbraMobile {
  display:none;
  flex-direction: column;;
  flex-grow:2.5;
  align-items: center;
  justify-content: center;
  color: white;
}
