</body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <!--   Edit the following to lead to the appropriate Imperio client file -->
  <!-- Note that this path's root will likely come from the path static path -->
  <!--     you defined for the Imperio library at the top of server.js -->
  <!-- ********************************************************************* -->
  <!--   Chances are, you WON'T need to change anything if we continue to -->
  <!--     build our library to the /dist directory in our library root -->
  <script src='./dist/imperio.min.js'></script>
</html>
