/*mobile div for gestures*/
* {
  font-family: 'Helvetica';
  background-color:rgb(0, 37, 105); 
}

#mobile-div {
  margin:0 auto;
  width:90%;
  height:100%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items: center;
  text-align:center;
  color:rgb(255, 206, 0);
}

h1 {
  font-weight:300;
  width:100%;
  margin:0.1em 0 0.2em 0;
}

.gestures {
  display:flex;
  justify-content:center;  
  align-items: center;  
  width:100%;
  height:4em;
  transition:height 0.25s;
  border:3px solid rgb(255, 206, 0);
}

.gestures:hover {
  background-color:rgb(255, 206, 0);
  color:rgb(0, 37, 105);
  font-weight:700;
  font-size:25px;
}

#swipe-box {
  border-top-right-radius:1em;
  border-top-left-radius:1em;
}

#pan-box {
  border-top:0px;
}

#pinch-box {
  border-top:0px;
}

#rotate-box {
  border-top:0px;  
}

#tap-box {
  border-top:0px;  
  border-bottom-right-radius:1em;
  border-bottom-left-radius:1em;
}

/*styling for gyroscopedata*/
#angles {
  transition:borderColor 2s, color 2s, height 2s, width 2s, fontSize 2s;
  display:flex;
  font-weight:200;  
  font-size:0em;
  justify-content:center;  
  align-items: center;  
  height: 0em;
  width: 0em;
  border-radius:1.5em;
}
